header {
  font-family: "Amatic SC", cursive;
  color: #e6e3e3; }

a {
  text-decoration: none; }

h1 {
  font-family: "Amatic SC", Bold700;
  font-size: 8em;
  text-align: center;
  color: #A68BA5;
  padding: 100px;
  letter-spacing: 30px; }

.slogan p {
  font-family: "Amatic SC", cursive;
  font-size: 4em;
  text-align: center;
  margin-top: -30px; }
.slogan p:hover {
  color: #EDADC7; }

.personal-information {
  border-left: 1px solid #b6b1b1;
  text-align: center; }
  .personal-information i {
    font-size: 2em;
    color: #5C5D67;
    margin-top: 30px; }
  .personal-information h3 {
    font-family: "Amatic SC", Bold700;
    font-size: 2em;
    color: #5C5D67; }
  .personal-information p {
    font-family: "Amatic SC", cursive;
    color: #5C5D67;
    font-size: 1.5em; }

.description p {
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
  color: #5C5D67;
  width: 500px;
  margin-left: 100px;
  border-top: 1px solid #b6b1b1; }

.column h3 {
  font-family: "Amatic SC", Bold700;
  color: #5C5D67; }

.containerTab h3 {
  font-family: "Amatic SC", Bold700;
  color: #5C5D67; }
.containerTab ul {
  font-family: "Amatic SC", cursive;
  color: #5C5D67; }
.containerTab p {
  font-family: "Amatic SC", cursive;
  color: #5C5D67; }
.containerTab h4 {
  font-family: "Amatic SC", Bold700;
  color: #5C5D67; }

.skills-container {
  margin-top: 100px;
  background-color: #F8F8F8; }
  .skills-container i {
    font-size: 5em;
    color: #5C5D67;
    margin-top: 30px;
    margin-left: 650px; }
  .skills-container .skills-gained {
    margin-left: 150px;
    border-right: 1px solid #b6b1b1; }
    .skills-container .skills-gained h2 {
      font-family: "Amatic SC", Bold700;
      color: #5C5D67;
      font-size: 1.8em; }
    .skills-container .skills-gained li {
      font-family: "Amatic SC", cursive;
      color: #5C5D67;
      font-size: 1.2em; }
  .skills-container .skills-and-abilities {
    margin-top: 100px;
    margin-left: 180px; }
    .skills-container .skills-and-abilities h2 {
      font-family: "Amatic SC", Bold700;
      color: #5C5D67;
      font-size: 1.8em; }
    .skills-container .skills-and-abilities ul {
      list-style: none; }
    .skills-container .skills-and-abilities li {
      font-size: 1.2em;
      color: #5C5D67;
      font-family: "Amatic SC", cursive;
      line-height: 50px; }
    .skills-container .skills-and-abilities .checked {
      color: #A68BA5; }

#contact h2 {
  font-family: "Amatic SC", Bold700;
  font-size: 2em;
  margin-left: 150px;
  color: #5C5D67; }

.references p {
  font-size: 1.3em;
  font-family: "Amatic SC", cursive;
  color: #5C5D67; }

.acceptance p {
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
  margin-left: 380px;
  width: 800px;
  text-align: center;
  color: #5C5D67; }

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0; }

body {
  background-color: #e6e3e3;
  background-position: fixed;
  margin: 0; }

header {
  position: sticky;
  z-index: 1;
  top: 0;
  height: 80px;
  background-color: #e6e3e3; }
  header a {
    text-decoration: none;
    display: block;
    float: left;
    text-align: center;
    padding: 15px; }
  header .nav_bar {
    border-radius: 5px;
    margin-top: 10px;
    padding: 0; }
  header .nav_home {
    background-color: #A68BA5;
    width: 80px;
    height: 80px; }
  header .menu_item {
    text-align: center;
    cursor: pointer;
    margin-top: -100px; }
  header .flex-container {
    float: right;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 400px;
    color: #EDADC7;
    font-size: 1em; }

.container {
  height: 900px;
  background-image: url("https://images.pexels.com/photos/34580/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  margin-left: 30px;
  margin-right: 30px;
  background-size: cover;
  margin-top: -50px; }

#about1 {
  margin-top: 100px; }

.aboutMe {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 30px;
  margin-right: 30px;
  border: 2px solid #b6b1b1;
  background-color: white; }

.column {
  max-width: 100%;
  float: left;
  width: 33%;
  margin-top: 100px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  font-size: 1.5em;
  color: #5C5D67; }

.containerTab {
  max-width: 100%;
  width: 450px;
  margin-left: 500px;
  text-align: center;
  display: none;
  font-size: 1em; }

.containerTab:hover {
  background-color: #A68BA5;
  box-shadow: 0px 37px 20px -15px rgba(0, 0, 0, 0.2);
  transform: translate(0px, -10px);
  border-radius: 30px; }

#b3 {
  width: 800px; }

#info {
  font-size: 1.3em; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.education {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 800px;
  line-height: 23px; }
  .education .containerTab {
    margin: 0; }

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 3px solid #b6b1b1;
  margin-left: 30px;
  margin-right: 30px; }

.skills {
  margin-left: 50px;
  margin-right: 50px;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #D199B6;
  font-size: 6em;
  max-width: 100%; }

#projects
.project_list {
  background-color: #F8F8F8;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.references {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 150px; }
  .references .ref:hover {
    box-shadow: 2px 2px 2px 2px #A68BA5;
    font-size: 1.3em; }

/* Grow Shadow */
.avatar img {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform; }
.avatar img:hover, .avatar img:focus, .avatar img:active {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

header i {
  width: 50px;
  height: 50px;
  color: #5C5D67;
  font-size: 1em; }
header i:hover {
  color: #C493B0; }

.gif img {
  width: 300px;
  height: 250px;
  opacity: 0.7;
  margin-left: 100px; }

.project_list img {
  width: 400px;
  height: 200px; }

/* Carousel */
.slide-container {
  margin: 0 auto;
  overflow: hidden; }

.slides {
  height: 180px;
  width: 5180px;
  animation-name: carousel;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: relative;
  left: 100%; }

.slides i {
  display: inline;
  float: left;
  padding: 50px 80px;
  font-size: 2em;
  margin-right: 50px; }

@keyframes carousel {
  100% {
    position: relative;
    left: -1000px; } }
.avatar img {
  width: 300px;
  height: 300px;
  border: 2px solid white;
  border-radius: 30px;
  margin-left: 600px;
  margin-top: 20px; }

.icon i {
  color: #A68BA5; }

footer {
  font-family: "Amatic SC", cursive;
  font-size: 1.5em; }
  footer .p1 {
    float: left;
    color: #5C5D67; }
  footer .p2 {
    float: right;
    color: #5C5D67; }

@media (max-width: 980px) {
  html {
    margin: 0;
    padding: 0;
    width: 100%; }

  .container {
    background-size: cover;
    margin: 0;
    padding: 0; }

  .skills {
    margin-left: 50px;
    margin-right: 50px; } }
@media (min-width: 500px) {
  header {
    width: 100%; }
    header i {
      width: 20px;
      margin-top: 40px; }
    header .nav_home {
      width: 50px; }
    header .flex-container {
      width: min-content; } }
@media (max-width: 780px) {
  .container {
    margin-left: 30px;
    margin-right: 30px;
    background-color: #b6b1b1;
    padding: 0; }
    .container .name {
      margin-top: -100px; }
      .container .name h1 {
        text-align: center;
        font-size: 6em;
        letter-spacing: 10px; }
    .container .slogan {
      text-align: center; }

  .aboutMe {
    width: 780px;
    margin-left: -50px;
    padding: 0; }

  .column {
    width: 50%;
    margin-right: 30px; }
    .column .containerTab {
      width: min-content;
      position: absolute; }
      .column .containerTab #info {
        margin-left: -50px;
        width: min-content;
        font-size: 1em; }

  .skills-section h2 {
    margin-top: 500px; }

  .ref {
    margin-left: -130px;
    width: 300px;
    height: 400px;
    font-size: 1em; }

  .acceptance {
    margin-top: -200px;
    margin-left: -390px;
    width: 600px;
    font-size: 0.7em; }

  .avatar img {
    margin: 0;
    margin-right: 500px; }

  .flex-container {
    margin-left: -350px; } }

/*# sourceMappingURL=styles.css.map */
