// nav bar 
header {
    font-family: $font-stack;
    color: $background-color;
}
a {
    text-decoration: none;
}

// home page
h1 {
    font-family: $font-stack2;
    font-size: 8em;
    text-align: center;
    color: $dark-purple;
    padding: 100px;
    letter-spacing: 30px;
}

.slogan {
    p {
        font-family: $font-stack;
        font-size: 4em;
        text-align: center;
        margin-top: -30px;
    }

    p:hover {
        color: $pink;
    }
}
// about page 
.personal-information {
    border-left: 1px solid $background-color2;
    text-align: center;

    i {
        font-size: 2em;
        color: $grey;
        margin-top: 30px;
    }

    h3 {
        font-family: $font-stack2;
        font-size: 2em;
        color: $grey;
    }

    p {
        font-family: $font-stack;
        color: $grey;
        font-size: 1.5em;
    }
}

.description {
    p {
        font-family: $font-stack;
        font-size: 1.5em;
        color: $grey;
        width: 500px;
        margin-left: 100px;
        border-top: 1px solid $background-color2;
    }
}
.column {
    h3 {
        font-family: $font-stack2;
        color: $grey;
    }
}

.containerTab {
    h3 {
        font-family: $font-stack2;
        color: $grey;
    }

    ul {
        font-family: $font-stack;
        color: $grey;
    }

    p {
        font-family: $font-stack;
        color: $grey;
    }

    h4 {
        font-family: $font-stack2;
        color: $grey;
    }
}

.skills-section {
    margin-top: 300px;

    h2 {
        font-family: $font-stack2;
        color: $grey;
        text-align: center;
        font-size: 3em;
    }
}

// contact page
#contact {
    h2 {
        font-family: $font-stack2;
        font-size: 2em;
        margin-left: 150px;
        color: $grey;
    }
}

.references {
    p {
        font-size: 1.3em;
        font-family: $font-stack;
        color: $grey;
    }
}

.acceptance {
    p {
        font-family: $font-stack;
        font-size: 1.5em;
        margin-left: 380px;
        width: 800px;
        text-align: center;
        color: $grey;
    }
}