// nav bar 
nav {
    a {
        text-decoration: none;
        color: $background-color;
        display: block;
        text-align: center;
        padding: 15px;
        letter-spacing: 2px; 
        font-family: $font-stack;
    }
}

h1 {
    font-family: $font-stack2;
    font-size: 5.5em;
    text-align: center;
}

.slogan {
    p {
        font-family: $font-stack;
        font-size: 2.5em;
        text-align: center;
        margin-top: -30px;
    }

    p:hover {
        color: $pink;
    }
}