// nav bar 
header{
    i {
        width: 50px;
        height: 50px;
        color: $grey;
        font-size: 1em;
    }

    i:hover {
        color: $lilac;
    }
}

// aboutMe
.gif {
    img {
        width: 200px;
        height: 200px;
        opacity: 0.7;
        margin-left: 100px;
        margin-top: 40px;
    }
}

// contact page 
/* Carousel */
.slide-container {
    margin: 0 auto;
    overflow: hidden;
}

.slides {
    height: 180px;
    width: 5180px;
    // background-color: black;
    animation-name: carousel;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
    left: 100%; 
}

.slides i {
    display: inline;
    float: left;
    padding: 50px 80px;
    font-size: 2em;
    margin-right: 50px; }
   @keyframes carousel {
    100% {
      position: relative;
      left: -700px; 
    } 
}
  
.avatar {
    img {
        width: 300px;
        height: 300px;
        border: 2px solid $white;
        border-radius: 30px;
        margin-left: 600px;
        margin-top: 20px;
    }
}

.icon {
    i {
        color: $dark-purple;
    }
}

// footer 
footer {
    font-family: $font-stack;
    font-size: 1.5em;
    .p1 {
        float: left;
        color: $grey; 
    }

    .p2 {
        float: right;
        color: $grey;
    }
}
