// Desktop 
@media (max-width: 980px) {
    
}

// nav bar responsiveness 
@media (min-width:500px) {
   header {
       width: 100%;

       i {
           width: 20px;
       }

       .nav_home {
       width: 50px;
        } 

        .flex-container {
       width: min-content;
       margin-right: 150px;
        }
   }

}

@media (max-width:500px){

}

// tablet view 
@media (max-width: 780px) {
    .container {
        height: 600px;
        width: 780px;
        margin-left: 30px;

        .name {
            width: 500px;

            h1 {
                text-align: center;
            }
        }

        .slogan {
            width: 600px;
        }
    }

   .aboutMe {
       width: 780px;
       margin-left: -50px;
       padding: 0;
   }

   .column {
       width: 20%;

       .containerTab {
           width: 100%;
        //    margin-left: 500px;
           font-size: 1.1em;
       }

   }

   .ref {
       margin-left: -130px;
       width: 300px;
       height: 400px;;
       font-size: 1em;
   }

   .acceptance {
       margin-top: -200px;
   }

   .avatar {
       img {
        margin: 0;
        margin-left: 250px;
       }
   }

   .flex-container {
       margin-left: -350px;
   }
}