// font-colors 
$grey: #5C5D67;
$dark-purple: #A68BA5;
$lilac: #C493B0;
$light-purple: #D199B6;
$pink: #EDADC7;
$white: white;

// background colors
$background-color: rgb(230, 227, 227);
$background-color2: rgb(182, 177, 177);
$background-color3: rgb(252, 250, 250);
$background-color4: #F8F8F8;
// font-family 
$font-stack:'Amatic SC', cursive;
$font-stack2:'Amatic SC', Bold700;
$font-stack3:'Handlee', cursive;

// animation speed
$animationSpeed: 40s;
