// font-colors 
$grey: #5C5D67;
$dark-purple: #A68BA5;
$lilac: #C493B0;
$light-purple: #D199B6;
$pink-purple: #EDADC7;


// font-family 
$font-stack:'Amatic SC', cursive;
$font-stack:'Amatic SC', Bold700;

// animation speed
$animationSpeed: 40s;
